:root {
    /* colors */
    --primary-color: #dfdfe2;
    --secondary-color: #ffffff;
    --app-background-color: #4d4d62;
    --background-color: #1b1b32;
    --foreground-color: #3b3b4f;
    --highlight-color: #f1be32;
  
    /* font sizes */
    --root-font-size: 16px;
    font-size: var(--root-font-size);
  
    /* font-families */
    --font-headline: "Roboto Mono", monospace;
    --font-family: "Lato", sans-serif;
  }

body {
    background: linear-gradient(to right, #293f85, #819eb1);
    font-family: sans-serif;
    display: flex;
    flex-direction: row ;
    flex-wrap: wrap;
    flex-flow: wrap;
    align-items: center; 
    align-content: space-evenly;
    /* justify-content: center; */
    padding: 5px;
}

h1{
    color: black;
}
.project{
    margin: 5px;
}