:root {
    /* colors */
    --primary-color: #dfdfe2;
    --secondary-color: #ffffff;
    --app-background-color: #4d4d62;
    --background-color: #1b1b32;
    --foreground-color: #3b3b4f;
    --highlight-color: #f1be32;
  
    /* font sizes */
    --root-font-size: 16px;
    font-size: var(--root-font-size);
  
    /* font-families */
    --font-headline: "Roboto Mono", monospace;
    --font-family: "Lato", sans-serif;
  }

body {
    background: linear-gradient(to right, #0b2b94, #caebff);
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    padding: 5px;
}

.project{
    margin: 5px;
}